@import "@repo/ui/globals.css";

@source "../**/*.{ts,tsx}";

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
